#main{
      width:500px;
      margin:100px 7px 47px 450px;
    
     }
     .inner{
      width:400px;
      margin:auto;
     }
    .bt
     {
      margin: 0px 10px 12px 197px;
      width:110px;
     }
      #main{
      width:500px;
      margin:50px 7px 47px 479px;
    
     }
     .inner
     {
      width: 400px;
      margin:auto;
     }
     .bt
     {
      margin: 0px 10px 12px 197px;
      width:110px;
      
     }
     .bt
     {
      margin: 0px 10px 12px 197px;
      width:200px;
      
     }
     .res
     {
       margin: 0px 10px 12px 197px;
       width: 300px;
    
     }
     /*.himg{
      width: ;
     }*/*/